header{
    text-align: center;
    background: url("https://cdn3.vectorstock.com/i/1000x1000/48/52/cover-background-with-abstract-fire-vector-8404852.jpg");
    background-size: cover;
    color:white;
}
ul{
    padding: 20px;
    background:rgba(red, green, blue, 0.5);
}
h1{
    font-size: 160%;
}
article{
    max-width: 500px;
    color: black;
    padding: 20px;
    margin:0 auto;
}
img {
    margin: 40px 0px 0px 0px;
    border: 7px solid white;
    border-radius: 20px;
    width: 40%;
}
a{
    color: white;
}
li{
    display: inline;
    padding: 0px 10px 0px 10px;
}
@media(max-width: 500px){
    
    body{
        background: red;
    }
    li{
        display: block;
        padding: 5px;
    }
}